<p id="notice"><%= notice %></p>

<p>AR</p>
<p id="ar">
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<br>
<p>ES</p>
<p id="es">
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
